@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@supports not selector(::-webkit-scrollbar) {
  .scroll-container {
    border-radius: 0.75rem !important;
  }
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Chrome/Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 10px;
  margin: 4px;
}
::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 10px;
  border: 2px solid #2d3748;
}
::-webkit-scrollbar-thumb:hover {
  background: #718096;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #2d3748;
}

body {
  font-family: "Exo 2", " Sansation", "Montserrat", sans-serif;
  font-style: normal;
  background-color: #181e2b;
  margin: 0;
  color: #e4e6e8;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
/* Add this to ensure base readability */
body {
  color: #e4e6e8; /* Default text is readable, not too dark */
  background-color: #181e2b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff; /* Headings always pop */
}
